    <html>
    <h6>Todos Here...</h6>
        <body >
        <pre> The User Logged in now using subject is {{SubjectUserLogin}}</pre>
        <h6 *ngIf="userEmail!=null">Welcome {{userEmail}}</h6>
        <div class="table-responsive">
      <table class="table table-hover table-dark" style="margin-top: 50px;">
        <tr>
          <th>User ID</th>
          <th>MadeBy</th>
          <th style>My Todos</th>
          <th>Is Completed</th>
          <td><button type="button"  class="btn btn-outline-success" (click)="addtodo();open(content)">Create Todo</button></td>
        </tr>
        <tr *ngFor="let items of ufdata | paginate:{
        id: 'TodosPagination',
        itemsPerPage: 10,
        currentPage: PageNumber,
        totalItems: TotalRecords
        }">
          <td>{{items.id}}</td>
          <td>{{items.userName | uppercase}}</td>
          <td>{{items.todoName}}</td>
          <td [innerHTML]="items.isComplete | IsCompletePipe"></td>
          <td><button type="button" class="btn btn-outline-danger" (click)="deletetodo(items.id)">Delete</button></td>
          <td><button type="button" class="btn btn-outline-info" (click)="UpdateUsingJs(items.id)">Update</button></td>
          <td><button type="button" class="btn btn-outline-info" (click)="UpdateIsCompleteUsingId(items.id)" >Update IsCompleted</button></td>
        </tr>

      </table>
          <pagination-controls class="text-center text-danger" id="TodosPagination" (pageChange)="PageNumber = $event"></pagination-controls>

    </div>
        <! Code of Dialog/Modal by using ng-BootStrap>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Write Todos..</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="popuptodos">
              <label>Write your todos..</label>
              <input type="text" placeholder="Enter Todo.." formControlName='Usertodo' >
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');addtodo()">Save</button>
          </div>
        </ng-template>


        <hr>
        </body>
    </html>

