<h3>Please SignIn first!</h3>
<form>
  <label>Email</label>
  <br>
  <input type="text" placeholder="Enter Email" [formControl]="userEmailControl">
  <br>
  <pre class="text-danger" *ngIf="userEmailControl.invalid &&userEmailControl.touched">Enter correct email address</pre>
  <br>
  <label>Password</label>
  <br>
  <input type="text" placeholder="Enter Password" [formControl]="userPasswordControl">
  <br>
  <pre class="bbg-danger" *ngIf="userPasswordControl.invalid &&userEmailControl.touched &&userPasswordControl.touched">Please provide valid Password</pre>
  <br>
  <button type="submit" class="btn btn-outline-success"  (click)="LoginUser()">Login</button>

</form>

<pre>fetched Token is : {{token}}</pre>
<pre *ngIf="UserRole">User Role: {{UserRole.role}}</pre>
<pre>Who is logged in: {{LoginStatus}}</pre>

<pre style="color: red" *ngIf="ErrorCode=='409'">Login Failed, User does not exists</pre>
