<div class="app">

  <! NavBar for Landing Page>

  {{ message | async | json }}

  <div *ngIf="!isLoggedIn">
    <a class="" routerLink="/signin" routerLinkActive="active">Signin</a> |
    <a class="" routerLink="/register" routerLinkActive="active">Register</a>
  </div>


  <! NavBar for Admin Role>

  <div *ngIf="isLoggedIn && AdminUser=='admin' ">
    <button class="btn btn-danger" (click)="logOut()">LogOut</button>
    <h5 *ngIf="AdminUser=='admin'"> UserRole: {{AdminUser}}</h5>
  </div>
  <! NavBar for User Role>
  <div *ngIf="isLoggedIn && AdminUser=='user' ">

    <button class="btn btn-danger" (click)="logOut()">LogOut</button>
    <h5> UserRole: {{AdminUser}}</h5>

  </div>
  <router-outlet></router-outlet>
</div>
