<html>
<label>Click Here to get User Details</label>
<button class="btn btn-outline-success" (click)="getUsers()">Users Details</button>

<button class="btn btn-outline-success" (click)="getTodos()">Todos Details</button>


<ng-container *ngIf="showUserData== true">
  <!---------------UsersData------------>
  <table class="table table-hover table-dark" style="margin-top: 50px;">

    <tr>
      <td>Users Email</td>
      <td>Users Password</td>
      <td>
        <button class="btn btn-outline-success" (click)="open(content)">Add User</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger" (click)="open(contentDel)">Delete</button>
      </td>
    </tr>
    <tr *ngFor="let items of users ">
      <td>{{items.email}}</td>
      <td>{{items.password}}</td>

    </tr>
  </table>
</ng-container>


<!---------------ShowingTodosData------------>

<ng-container *ngIf="showUserData== false && showAdminData==true">
  <table class="table table-hover table-dark" style="margin-top: 50px;">

    <tr>
      <td>Email</td>
      <td>Todos</td>
      <td>IsComplete</td>
    </tr>
    <tr *ngFor="let todos of fetchedTodos ">
      <td>{{todos.userName}}</td>
      <td>{{todos.todoName}}</td>
      <td>{{todos.isComplete}}</td>
    </tr>

    <tr>

        <ul>
          <li *ngFor="let page of this.pages; let i = index"><a role="button" (click)="getUserDataByPaging()">{{i + 1}}</a></li>
        </ul>

    </tr>
  </table>

  <h5>Total Number of Pages are: {{this.totalPages}}</h5>

</ng-container>


<!---------------Modal for Adding User-------------->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addUsersForm">
      <label>Enter Email</label>
      <input type="text" formControlName="userEmail">
      <br>
      <label>Enter Password</label>
      <input type="text" formControlName="userPassword">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');addUser()">Save</button>
  </div>
</ng-template>


<!---------------Modal for Deleting User-------------->


<ng-template #contentDel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-Delete-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="delUserForm">
      <label>Enter Email</label>
      <input type="text" formControlName="delUserEmail">
      <br>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click');deleteUser()">Delete
    </button>
  </div>
</ng-template>

</html>
