<p>register works!</p>
<form >
  <label>Email</label>
  <br>
  <input type="text" placeholder="Enter Email" [formControl]="userEmailControl">
  <br>
  <pre style="color: red" *ngIf="userEmailControl.invalid &&userEmailControl.touched"> Enter correct email address</pre>
  <label>Password</label>
  <br>
  <input type="text" placeholder="Enter Password " [formControl]="userPasswordControl">
  <span *ngIf="userPasswordControl.invalid&&userPasswordControl.touched" style="color: dimgrey;font-size: smaller">
    <br/>Remember: Password Length should be 6-20
    <br /> With 1 Uppercase, 1 Lowercase and 1 numeric Value</span>
  <br>
  <pre style="color: red" *ngIf="userPasswordControl.invalid&&userPasswordControl.touched">Enter Valid Password</pre>
  <br>
  <button type="submit" class="btn btn-success" [disabled]="userEmailControl.invalid" (click)="RegisterUser()">Register</button>

</form>
<pre style="color: red" *ngIf="ErrorCode=='409'">User Already Exists, Please SignIn or use different Email</pre>




